<ngb-carousel>
    <ng-template ngbSlide>
        <img src="contents/images/banner1.svg" alt="ASP.NET" />
        <div class="carousel-caption" role="option">
            <p>
                Learn how to build ASP.NET apps that can run anywhere.
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                    Learn More
                </a>
            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="contents/images/banner2.svg" alt="Random second slide">
        <div class="carousel-caption" role="option">
            <p>
                There are powerful new features in Visual Studio for building modern web apps.
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                    Learn More
                </a>
            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="contents/images/banner3.svg" alt="Random third slide">
        <div class="carousel-caption" role="option">
            <p>
                Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                    Learn More
                </a>
            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="contents/images/banner4.svg" alt="Random fourth slide">
        <div class="carousel-caption" role="option">
            <p>
                Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                    Learn More
                </a>
            </p>
        </div>
    </ng-template>
</ngb-carousel>